@using DYS.FinanceTracker.Features.Accounts.Components
@using DYS.FinanceTracker.Features.Accounts.Views
@using DYS.FinanceTracker.Features.Profile.Components
@using DYS.FinanceTracker.Shared.Layout
@using DYS.FinanceTracker.Shared.Security
@using Microsoft.AspNetCore.Components.Authorization
@inject ISupabaseAuthProvider SupabaseAuthProvider
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" 
                                DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLoginComponent />
                </NotAuthorized>
                <Authorizing>
                   
                </Authorizing>
                
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, page not found.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code {
    protected override async Task OnInitializedAsync()
    {
        await SupabaseAuthProvider.StartKeepAliveLoop();
    }
}
