@page "/loader"

<!-- Circle -->
<div class="ssc-circle mb-2"></div>
<!-- Headline -->
<div class="ssc-head-line mb-2"></div>
<!-- Line -->
<div class="ssc-line mb-2"></div>
<!-- Divider -->
<div class="ssc-hr mb-2"></div>
<!-- Square Box -->
<div class="ssc-square mb-2"></div>
<!-- Card class -->
<div class="ssc-card mb-2"></div>
<!-- Card With Content -->
<div class="ssc-wrapper mb-2">Card with content</div>
<!-- Main parent class -->
<div class="ssc mb-2"></div>










<div class="w-100">
    <div class="ssc-line mb mb-1 w-20"></div>
    <div class="ssc-line mb mb-1 w-30"></div>
    <div class="ssc-line mb w-80 mb-1"></div>
    <div class="ssc-line mb w-40 mb-1"></div>
    <div class="ssc-line mb w-30 mb-1"></div>
    <div class="ssc-line mb w-60 mb-1"></div>
    <div class="ssc-line mb mb-1"></div>
    <div class="ssc-line mb w-70 mb-1"></div>
    <div class="ssc-line mb w-40 mb-1"></div>
    <div class="ssc-line mb w-30 mb-1"></div>
</div>