@inject IJSRuntime JS

<div class="d-flex justify-content-center d-none" id="paypal-preloader">
    <div class="spinner-border spinner-grow-lg spinner-border-lg" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<div id="paypal-button-container"></div>

@code {
    [Parameter] public string UserId { get; set; } = "";
    [Parameter] public ThemeDto Theme { get; set; } = new ThemeDto();

    public async Task LoadPaypalButton()
    {
        await JS.InvokeVoidAsync("renderPayPalButton", UserId, Theme.Code,Theme.Title, Theme.Price);
    }
}
