@using DYS.FinanceTracker.Shared.ViewModels
@inherits MvvmComponentBase<MenuViewModel>

 
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a class="app-brand-link">
            <span class="app-brand-logo demo">
                <span class="text-primary">
                </span>
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">Appzy <sup>™</sup></span>
        </a>

          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="bx bx-chevron-left d-block d-xl-none align-middle"></i>
                    </a>
    </div>

    <div class="menu-divider mt-0"></div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item active">
            <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div class="text-truncate" data-i18n="Dashboards">Home</div>

            </a>
        </li>
        <li class="menu-item">
            <a href="/accounts" class="menu-link menu-toggle">
                <i class="menu-icon icon-base bx bx-food-menu"></i>
                <div data-i18n="Invoice">Accounts</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/accounts" class="menu-link">
                <i class="menu-icon icon-base bx bx-envelope"></i>
                <div data-i18n="Email">Email</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="" target="_blank" class="menu-link">
                <i class="menu-icon icon-base bx bx-file"></i>
                <div data-i18n="Documentation">Support</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0)"  class="menu-link" @onclick="BindingContext.Signout">
                <i class="menu-icon icon-base bx bx-log-out"></i>
                <div data-i18n="Logout">Logout</div>
            </a>
        </li>
     <!--  <li class="menu-item">
            @if (string.IsNullOrEmpty(BindingContext.Profile?.Email))
            {
                <a href="javascript:void(0)" @onclick="BindingContext.GoogleSign" class="menu-link">
                    <i class="menu-icon icon-base bx bx-arrow-to-right"></i>
                    <div data-i18n="Documentation">Google signin</div>
                </a>
            }
            else
            {
                @* <a href="javascript:void(0)" @onclick="BindingContext.GoogleLogout" class="menu-link">
                    <i class="menu-icon icon-base bx bx-arrow-to-left"></i>
                    <div data-i18n="Documentation">Sign out</div>
                </a> *@
            }
        </li>
        -->
    </ul>
</aside>
@* <SessionStorageComponent @ref="BindingContext.SessionStorageComponent" /> *@

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender) StateHasChanged();
    }

}
